**/autosave/
**/backup/
**/build/**/*.bin
**/build/**/*.elf
**/build/**/*.map
**/build/**/*.uf2
**/*.bak
**/secrets.h

**/ArduinoData_*
**/*_RP2040.txt
**/*_ESP8266.txt
**/*_ALL.txt
**/bin
**/obj